#!/usr/bin/make -f

CFLAGS = $(shell dpkg-buildflags --get CFLAGS)
LDFLAGS = $(shell dpkg-buildflags --get LDFLAGS)

%:
	dh $@

override_dh_auto_build:
	$(MAKE) DBF_CFLAGS="$(CFLAGS)" \
			DBF_LDFLAGS="$(LDFLAGS)" \
			lib

override_dh_auto_install:
	$(MAKE) PREFIX=$(CURDIR)/debian/libzeep2/usr install-libs
	$(MAKE) PREFIX=$(CURDIR)/debian/libzeep-dev/usr \
			MANDIR=$(CURDIR)/debian/libzeep-dev/usr/share/man/man3 \
			install-dev
