#!/usr/bin/make -f

export DH_VERBOSE=1

CFLAGS = $(shell dpkg-buildflags --get CFLAGS)
LDFLAGS = $(shell dpkg-buildflags --get LDFLAGS)

%:
	dh $@

override_dh_auto_build:
	$(MAKE) lib

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/libzeep2.5 install-libs
	$(MAKE) DESTDIR=$(CURDIR)/debian/libzeep-dev install-dev
